.form-block
    height: 456px
    
    @media screen and (max-width: 728px + 20px*2)
        width: calc(100% - 20px*2)
        padding: 31px 20px 40px 20px
    @media screen and (min-width: 728px + 20px*2)
        width: 555px
        padding:
            top: 56px
            bottom: 60px
            left: 97px
            right: 97px
    @media screen and (min-width: 1140px + 20px + 20px)
        min-width: 555px

    & .form-block__content 
        position: relative

    & .form-block__field
        width: 100% // 300px
        // margin-bottom: 3rem
        display: flex
        flex-direction: column
        align-items: flex-start

        @media screen and (max-width: 728px + 20px*2)
            margin-bottom: 11px
        @media screen and (min-width: 728px + 20px*2)
            margin-bottom: 30px    

    & input[type="tel"].form-block__input
        background-color: #ffffff
        //
        font-family: Montserrat
        font-size: 16px
        font-weight: normal
        font-stretch: normal
        font-style: normal
        line-height: 1.5
        letter-spacing: normal
        color: #000000
        //
        border-radius: 6px
        border: solid 1px #dbdee7
        text-align: left
        vertical-align: middle
        outline: none
        padding: 18px 24px
        height: 60px
        width: 100%
        min-width: auto
        box-sizing: border-box

        &.focused:focus
            border-bottom: 1px solid #ff7f50 // #26a69a
            box-shadow: 0 1px 0 0 #ff7f50 // #26a69a

        & .form-block__success
            text-align: center
            display: none
            opacity: 0
            width: 100%
            height: auto
            position: absolute
            top: 50%
            left: 0
            padding: 30px
            background-color: #66bb6a
            transform: translateX(-50%) translateY(0%)
            transition: opacity .6s linear, transform .6s linear
            &.active
                display: block
            &.move
                opacity: 1
                transform: translateY(-100%)

    & .main-form__agreement
        @media screen and (max-width: 728px + 20px*2)
            margin:
                bottom: 26px
        @media screen and (min-width: 728px + 20px*2)
            margin:
                bottom: 8px

        & .agreement__check-box-text
            position: relative
            margin-left: 30px
            display: block
            text-align: left

        & .agreement__check-box-text, .agreement__warn
            font-family: Montserrat
            font-size: 13px
            font-weight: normal
            font-stretch: normal
            font-style: normal
            line-height: 1.54
            letter-spacing: normal
            color: #4d4d4d

        & .agreement__warn
            color: #ff7f50

        & .agreement__check-box-text
            cursor: pointer

        & input[type=checkbox].agreement__check-box
            display: none

        & .agreement__check-box-text:before
            content: ""
            display: inline-block
            position: absolute
            border-radius: 6px
            background-color: #007aff
            width: 18px
            height: 18px
            top: 0px
            left: -30px

        & input[type=checkbox].agreement__check-box:checked + .agreement__check-box-text:before
            content: "\2714"
            color: #ffffff
            font-size: 13px
            text-align: center
            vertical-align: middle
            line-height: 16px

// .form-block__label, 
// .modal-content__warning
//     text-decoration: none
//     display: inline-block
//     font-family: GothamPro
//     font-weight: 300
//     font-stretch: normal
//     font-style: italic
//     line-height: 1.08
//     letter-spacing: normal
//     text-align: left
//     color: #282630 // #b2a6a6
//     opacity: .8
//     margin-bottom: 5px
//     @media screen and (max-width: 576px)
//         font-size: 12px
//     @media screen and (min-width: 576px)
//         font-size: 16px   


    // & .modal-content__warning
    //     text-align: center
    //     margin-top: 2rem

// .simple-button_for-form
//     font-size: 20px
//     font-weight: 500
//     line-height: 1.12
//     padding: 1.5rem 4rem 1.5rem 4rem

// .form-block__messages
//     width: 100%
//     height: auto

    // position: relative


//

