.map-with-projects.map-with-projects-new-view {
    & .map-with-projects__block-map {
        @media screen and (max-width: 768px) {
            height: 600px;
        }
        @media screen and (min-width: 768px) {
            height: 400px;
        }
        @media screen and (min-width: 1180px) {
            height: 600px;
        }
    }

    & .map-with-projects__block-information {
        justify-content: flex-start;
        @media screen and (max-width: 768px) {
            padding-left: 0;
            padding-right: 0;            
        }
        @media screen and (min-width: 1180px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    & .map-with-projects__block-information {
        & .block-information__title {
            @media screen and (max-width: 767px) {
                margin-top: 0;
                margin-bottom: 48px;
            }
        }
    }
}