.dream-team {
    background-color: #0b1741;
    margin-bottom: -1px;
    
    @media screen and (max-width: 727px + 20px*2) {
        padding: 94px 0 60px;
        margin-bottom: -2px;
    }
    @media screen and (min-width: 728px + 20px*2) {
        padding: 94px 0 120px;
    }
    @media screen and (min-width: 1140px + 20px + 20px) {
        padding: 104px 0 140px;
    }

    & .dream-team__note {
        @media screen and (max-width: 727px + 20px*2) {
            margin-bottom: 25px;
        }
        @media screen and (min-width: 728px + 20px*2) {
            margin-bottom: 30px;
        }
        @media screen and (min-width: 1140px + 20px + 20px) {
            margin-bottom: 40px;
        }        
    }

    & .dream-team__upper-row {
        display: flex;
        @media screen and (max-width: 727px + 20px*2) {
            flex-direction: column-reverse;
            margin-bottom: 51px;
        }
        @media screen and (min-width: 728px + 20px*2) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 71px;
        }
        @media screen and (min-width: 1140px + 20px + 20px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 100px;
        }
    }

    & .dream-team__logo-wrap {
        @media screen and (max-width: 727px + 20px*2) {
            width: 230px;
        }
        @media screen and (min-width: 728px + 20px*2) {
            width: 230px;
        }
        @media screen and (min-width: 1140px + 20px + 20px) {
            width: 293px;
        }   
        
        & svg {
            width: 100%;
        }
    }

    & .tile-element__image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @media screen and (max-width: 768px) {
            width: 100%; // 280px;
            height: auto;
            min-height: calc(100vw - 40px); // min(calc(100vw - 40px), ); // 280px;
        }
        @media screen and (min-width: 768px) {
            width: 100%; // 220px;
            height: auto; // 220px;
            min-height: 230px;
        }
        @media screen and (min-width: 1180px) {
            width: 100%; // 240px;
            height: auto; // 240px;
            min-height: 245px;
        }

        &.tile-element__image_position {
            @media screen and (max-width: 768px) {
                margin-bottom: 26px;
            }
            @media screen and (min-width: 768px) {
                margin-bottom: 10px;
            }
        }
    }

    & .tile__title {
        @media screen and (max-width: 768px) {
            margin-bottom: 15px;
        }
        @media screen and (min-width: 768px) {
            margin-bottom: 10px;
        }
    }

    & .tiles__content {
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: hidden;

            & .tiles__tile-element {
                max-width: 100%;
                flex-basis: 100%;
                flex-grow: 1;
                flex-shrink: 0;
                display: none;

                opacity: 0;
                // transition: transform 2s ease, opacity 1s linear;
                transition: opacity .3s linear;
                        
                // @media screen and (max-width: 728px + 20px*2) {
                //     transform: translateY(30px);
                // }
                // @media screen and (min-width: 728px + 20px*2) {
                //     transform: translateY(60px);
                // }
                // @media screen and (min-width: 1140px + 20px + 20px) {
                //     transform: translateY(60px);
                // }

                // &.move_interact {
                //     transform: translateY(0px);
                // }
                &.visible {
                    opacity: 1;
                }
                &.active {
                    display: block;
                }
            }
        }
        @media screen and (min-width: 768px) {
            margin-left: -10px;
            margin-right: -10px;
        }
        @media screen and (min-width: 1180px) {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    & .tiles__tile-element.col  {
        @media screen and (max-width: 768px) {
            padding-left: 0px; // 20px;
            padding-right: 0px; // 20px;
        }
        @media screen and (min-width: 768px) {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 40px;
        }
        @media screen and (min-width: 1180px) {
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 50px;
        }
    }

    & .tiles__btn {
        @media screen and (max-width: 768px) {
            display: none;
        }
        @media screen and (min-width: 768px) {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
    }

    & .block-image__slider-dots {
        position: relative;
        margin-top: 30px;
        display: flex;
        justify-content: center;

        // @media screen and (max-width: 727px + 20px*2) {
        //     width: 100%;
        //     position: absolute;
        //     bottom: calc(-320px - 25px);
        //     left: 0;
        //     justify-content: flex-start;
        // }
        // @media screen and (max-width: 360px) {
        //     bottom: calc(-170%); // calc(-320px - 25px);
        // }
        // @media screen and (max-width: 340px) {
        //     bottom: calc(-170%); // calc(-320px - 25px);
        // }
        // @media screen and (max-width: 310px) {
        //     bottom: calc(-195%); 
        // }
        // @media screen and (min-width: 728px + 20px*2) {
        //     width: ( (728px + 20px*2)/2 );
        //     margin-left: 0; // (728px + 20px*2)*0.05;
        //     justify-content: center;
        // }
        // @media screen and (min-width: 1140px + 20px + 20px) {
        //     width: calc( (1140px + 20px + 20px)/2 );
        //     margin-left: (1140px + 20px + 20px)*0.05;
        //     justify-content: center;
        // } 
        // @media screen and (min-width: 1600px) {
        //     margin-left: 0px;
        // }          

        & ul {
            display: inline-flex;
            flex-wrap: nowrap;
            align-items: center;

            & li {
                width: 8px;
                height: 8px;
                background-color: #f8f9fb;
                margin-left: 5px;
                margin-right: 5px;
                border-radius: 50%;
                border: 2px solid #0b1741;

                &.active,
                &:hover {
                    background-color: #006cff;
                    border: 2px #006cff solid;                    
                }
            }
        }

        // & .indicators {
    	// 	display: flex;
    	// 	align-items: center;
    	// 	width: 102px;
    	// 	margin: 0 auto;

    	// 	& .indicator-item {
	    // 		width: 4px;
		// 		height: 4px;
		// 		margin: 24px 7px;
		// 		background-color: #f8f9fb;
		// 		transition: all .3s ease-in-out;

		// 		&.active {
		// 			width: 8px;
		// 			height: 8px;
		// 			background-color: #006cff;
		// 		}
	    // 	}
    	// }

        @media screen and (max-width: 768px) {

        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}