@import 'typography.scss';

//
*, *:before, *:after {
    box-sizing: border-box;
}
.work-area {
    width: 100vw;
    height: 100vh; /*???change3*/
    background-color: #0b1741;
    position: relative;
}
/*Change1*/
.work-area.inside-page {
    background-color: #f8f9fb;
}
/*end of Change1*/
.container {
    @media screen and (max-width: 728px + 20px*2) {
        width: 100%; // 728px + 20px*2;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 728px + 20px*2) {
        width: 728px; // 728px + 20px*2;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1140px + 20px + 20px) {
        width: 1140px; // 1140px + 20px + 20px;
        padding-left: 20px;
        padding-right: 20px;
    }  
    
    &.container_full {
        @media screen and (max-width: 728px + 20px*2) {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
        }
        @media screen and (min-width: 728px + 20px*2) {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
        }
        @media screen and (min-width: 1140px + 20px + 20px) {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
        }  
    }
}
.row {
    margin-bottom: 0;
    // display: flex;
    // @media screen and (max-width: 728px + 20px*2) {
        
    // }
    &.row_with-flex {
        display: flex;
    } 
}
.hidden {
    overflow: hidden !important;
}
.opacity {
    opacity: 0;
}
.none {
    display: none !important;
}

.section-move_default {
    opacity: 0;
    transition: transform 3s ease, opacity 1s linear;


    @media screen and (max-width: 728px + 20px*2) {
        transform: translateY(30px);
    }
    @media screen and (min-width: 728px + 20px*2) {
        transform: translateY(60px);
    }
    @media screen and (min-width: 1140px + 20px + 20px) {
        transform: translateY(60px);
    }

    &.visible {
        opacity: 1;
    }
    &.section-move_interact {
        transform: translateY(0px);
    }
}

@import 'services/preloader.scss';
// main-page
@import 'ui-components.scss';
@import 'header.scss';
@import 'main-page/hello-block.scss';
@import 'main-page/stocks.scss';
@import 'main-page/instagram-card.scss';
@import 'main-page/all-progects.scss';
@import 'main-page/map-with-projects.scss';
@import 'main-page/advantages.scss';
@import 'main-page/consultation-about-credits.scss';
@import 'main-page/question-panel.scss';
@import 'main-page/news.scss';
@import 'main-page/instagram-gallery.scss';
@import 'footer.scss';
// content-page
@import 'content-page/simple-content.scss';
@import 'content-page/contacts-in-content.scss';
// plan-page
@import 'plan-page/complicated-content.scss';
//about-page
@import 'about-page/about.scss';
//payment-page
@import 'payment-page/payment.scss';
// project-page
@import 'project-page/project-hello-block.scss';
@import 'project-page/plans-filter.scss';
@import 'project-page/callback-form.scss';
@import 'project-page/gen-plan.scss';
// services
@import 'services/modal.sass';
@import 'services/form.sass';


.modal {
    & .loader {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s linear;
        &.dark {
            background-color: #313335; // #5b5a62;
        }
        &.light {
            background-color: #ffffff;
        }
        &.transparent {
            opacity: 0;
        }
        &.not-loader {
            z-index: -1000;
            display: none;
        }
    }
    & .content-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        &.light {
            background-color: #ffffff; // #5b5a62;
        }
    }
    & .loader__wrap {
        display: block;
    }
    //
    &.lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .loader{
          &.dark {
            & .lds-roller div:after {
                background: #bc7112;
            }
          }
          &.light {
            & .lds-roller div:after {
                background: #313335;
            }
          }
      }
    & .content-loader {
        &.light {
            & .lds-roller div:after {
                background: #313335;
            }
        }    
    }
    & .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    & .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    & .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    & .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    & .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    & .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    & .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    & .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    & .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    & .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    & .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    & .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    & .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    & .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    & .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    & .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}