@import 'typography.scss';

//
*, *:before, *:after {
    box-sizing: border-box;
}
.work-area {
    width: 100vw;
    height: 100vh;
    background-color: #0b1741;
    position: relative;
}
.container {
    @media screen and (max-width: 728px + 20px*2) {
        width: 100%; // 728px + 20px*2;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 728px + 20px*2) {
        width: 728px + 20px*2;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1140px + 20px + 20px) {
        width: 1140px + 20px + 20px;
        padding-left: 20px;
        padding-right: 20px;
    }  
    
    &.container_full {
        @media screen and (max-width: 728px + 20px*2) {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
        }
        @media screen and (min-width: 728px + 20px*2) {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
        }
        @media screen and (min-width: 1140px + 20px + 20px) {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
        }  
    }
}
.row {
    margin-bottom: 0;
    // display: flex;
    // @media screen and (max-width: 728px + 20px*2) {
        
    // }
    &.row_with-flex {
        display: flex;
    } 
}
.hidden {
    overflow: hidden;
}
.opacity {
    opacity: 0;
}

@import 'ui-components.scss';
@import 'header.scss';
@import 'main-page/hello-block.scss';
@import 'main-page/stocks.scss';
@import 'main-page/instagram-card.scss';
@import 'main-page/all-progects.scss';
@import 'main-page/map-with-projects.scss';
@import 'main-page/advantages.scss';
@import 'main-page/consultation-about-credits.scss';
@import 'main-page/question-panel.scss';
@import 'main-page/news.scss';
@import 'main-page/instagram-gallery.scss';
@import 'footer.scss';